name: QA Agent

on:
  workflow_call:
    inputs:
      reasoning_model:
        required: true
        type: string
      target_branch:
        required: true
        type: string
    secrets:
      OPENAI_API_KEY:
        required: true

jobs:
  run-agent:
    runs-on: ubuntu-latest
    container:
      image: python:3.12

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install git
      run: |
        apt-get update
        apt-get install -y git

    - name: Cache pip
      uses: actions/cache@v5
      with:
        path: /github/home/.cache/pip
        key: v1

    - name: Install agent
      run: pip install git+https://github.com/jvictor96/qa-agent@main

    - name: Run agent
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        REASONING_MODEL: ${{ inputs.reasoning_model }}
        TARGET_BRANCH: ${{ inputs.target_branch }}
      run: run-agent